@import 'jeet'

nav ul li
    +below(680px)
        padding 3px 3px

#intro
    padding 210px 0 100px 0

.disappear
    +below(960px)
        display none

.appear
    +above(960px)
        display none

.right
    column(1/2)
    text-align center
    +below(520px)
        stack()
    p
        text-align center

.left
    column(1/2)
    +below(520px)
        stack()

#proposal
#ceremony
#reception
#weddingparty
#lodging
#registries
#venue
#story
    padding 100px 0

#proposal img
    col(1/2, cycle:2)
    +below(680px)
        stack()
        padding 10px 0

